<template>
  <div>
    <top_nav></top_nav>
    <router-view></router-view>
  </div>
</template>
<script>
import '../assets/css/index.css'
import top_nav from './header.vue'
import top_show from './top_show.vue'
export default {

  data () {
    return {

    }
  },

  methos: {

  },

  components: {
    top_nav,
    top_show
  }

}
</script>