<template>
  <div>
    <div>
      <div class="mobile_top_show comm_main">
        <div class="main_des_bg"></div>
        <div class="des_ct">
            <div class="des_item_ct">
              <div class="des_item_content">{{ motion.proposer }}</div>
              <div class="des_item_title">
                {{ lang.data['提案人'] }}
              </div>
            </div>
            <div class="des_item_ct">
              <div class="des_item_content">{{ motion.start_time }}</div>
              <div class="des_item_title">
                {{ lang.data['提案时间'] }}
              </div>
            </div>
            <div class="des_item_ct">
              <div class="des_item_content">{{ motion.quantity }}C</div>
              <div class="des_item_title">
                {{ lang.data['申请数量'] }}
              </div>
            </div>
            </div>
          </div>
      </div>

      <div class="comm_main">
      <!-- <div class="main_title">去中心化预算系统</div> -->
      

        <div class="main_des motion_item_top">
          <div class="main_des_bg"></div>
          <div class="main_des_content">

            <div class="top_line">
              <div class="top_line_vertical"></div>
            </div>

            <div class="des_ct">

              <div class="des_item_ct des_item_tt">
                {{ lang.data['提案详情'] }}
              </div>

              <div class="des_item_ct">
                <div class="des_item_content">{{ motion.proposer }}</div>
                <div class="des_item_title">{{ lang.data['提案人'] }}</div>
              </div>

              <div class="des_item_ct">
                <div class="des_item_content">{{ motion.start_time }}</div>
                <div class="des_item_title">{{ lang.data['提案时间'] }}</div>
              </div>

              <div class="des_item_ct">
                <div class="des_item_content">{{ motion.quantity }}C</div>
                <div class="des_item_title">{{ lang.data['申请数量'] }}</div>
              </div>

              <!-- <div class="des_item_ct">
                <div class="des_item_content">管理委员会成员名单</div>
                <div class="des_item_title">
                  <template v-if="committee">
                    <span v-for="item in committee.member">{{ item }}、</span>
                  </template>
                </div>
              </div> -->

              <div class="motion_item_status">
                  <div class="mis_title">{{ lang.data['提案进程'] }}</div>
                  <div class="mis_box">
                    <div class="mis_box_item">
                      <div class="mis_box_item_tag">{{ lang.data['剩余时间'] }}</div>
                      <div class="mis_box_item_days" v-if="!motion.time_key">{{ 0 }}{{ lang.data['天'] }}</div>
                      <div class="mis_box_item_days" v-if="motion.time_key.day > 0">{{ motion.time_key.day }}{{ lang.data['天'] }}</div>
                      <div class="mis_box_item_days" v-if="motion.time_key.hour > 0">{{ motion.time_key.hour }}{{ lang.data['小时'] }}</div>
                      <div class="mis_box_item_days" v-if="motion.time_key.min > 0">{{ motion.time_key.min }}{{ lang.data['分'] }}</div>
                    </div>
                    <!-- {{ approves }} -->
                    <div class="mis_box_item"  v-if="approves.on_load">
                        <div class="load_circle"></div>
                    </div>
                    <div class="mis_box_item" v-if="!approves.on_load">
                      <div class="mis_box_item_tag">{{ lang.data['同意'] }}/{{ lang.data['反对'] }}</div>
                      <div class="mis_box_item_days">{{ approves.data.approved.length }}/{{ approves.data.unapproved.length }}</div>
                    </div>
                  </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
</div>
    
</template>
<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex';
import {
  publish,
  open_and_plege,
  call_scatter,
  query_approvers,
  get_available
} from '../service'
import { lang } from '../lang'
export default {

  data () {
    return {
      lang
      // approves: null,
      // on_load: true
    }
  },

  props: {
    motion: {
      type: Object,
      default () {
        return {

        }
      }
    },

    approves: {
      type: Object,
      default () {
        return {};
      }
    }
  },

  computed: {
    ...mapState(['scatter_configs', 'account_info']),
    ...mapGetters([
        'account_name',
        'committee'
      ])
  },

  mounted () {
    // this.query_approvers();
  },

  methods: {
    async call_scatter () {
      await call_scatter();
    },

    async query_approvers () {
      this.on_load = true;
      let res = await query_approvers(this.motion.proposer, this.motion.id);
      this.approves = res.rows[0];
      this.on_load = false;
    }

  }

}
</script>